<div id="contact" class="footer">
    <footer class="page-footer font-small blue pt-4 container">
        <div class="container">
            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-4 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">Follow us</h5>
                        <ul class="social mb-3">
                            <li><a href="" class="facebook"><i class="fab fa-facebook-square"></i></a></li>
                            <li><a href="" class="gmail"><i class="fas fa-envelope"></i></a></li>
                            <li><a href="" class="youtube"><i class="fab fa-youtube"></i></a></li>
                        </ul>
                        <div class="btn mt-3" style="border-color: black; color: black">Contact us</div>

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3 ">

                    <!-- Grid column -->
                    <div class="col-md-4 mb-md-0 mb-3 col-6">

                        <!-- Links -->
                        <h5 class="text-uppercase">HotLine:</h5>

                        <ul class="list-unstyled" style="word-wrap: break-word;">
                            <li>
                                * Miss Lan Anh : 08 666 33 805
                            </li>
                            <li>
                                * Ninjadevvn@gmail.com
                            </li>
                        </ul>

                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 mb-md-0 mb-3 col-6 link2">

                        <!-- Links -->
                        <h5 class="text-uppercase float-right">Nhận Tin Tức Mới</h5>

                        <ul class="list-unstyled  float-right" style="clear: both">
                            <li class="text-right">
                                Chúng tôi sẽ gửi tin tức qua email
                            </li>
                        </ul>
                        <form action="" >
                            <input  type="text" placeholder="Your Email@gmail.com" class="form-control" st>
                            <div class="btn  mt-1 float-left" style="border-color: black; color: black">Gửi</div>
                        </form>
                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="https://ninjadev.vn"> Ninjadev.vn</a>
            </div>
            <!-- Copyright -->
        </div>


    </footer>
</div>

