
<div class="header navbar-light container-fluid">
      <div class="container">
          <div class="headerTop ">
              <ul>
                  <li>
                      <a href="#">Hotline: 08 666 33 805</a>
                  </li>
                  <li>
                      <a href="#">Mail: ninjadevvn@gmail.com</a>
                  </li>
                  <li>
                      <a href="#">Address: Số 9, Trung Liệt, Hà Nội</a>
                  </li>
              </ul>
          </div>
          <hr style="margin: 0">
          <div class="headerBot">
              <nav class="navbar navbar-expand-lg ">
                  <a class="navbar-brand brandName" href="/">
                      <img src="./images/ninjadev.png" alt="">
                  </a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                      aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse " id="navbarNav">
                      <ul class="navbar-nav ml-auto navigation">
                          <li class="nav-item active">
                              <a class="nav-link" href="/">TRANG CHỦ
                                  <span class="sr-only">(current)</span>
                              </a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#intro">GIỚI THIỆU</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#courses">KHÓA HỌC</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#teachers">GIẢNG VIÊN</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" href="#contact">LIÊN HỆ</a>
                          </li>
                      </ul>
                  </div>
              </nav>
          </div>
      </div>
  </div>
