<%- contentFor('bodyContent') %>
    <div class="popup">
        <a  href="/web-free" class="imgPopup">
        </a>
        <i class="fas fa-times-circle"></i>
    </div>
    <div class="banner ">
        <div class="container">
            <div class=" contentBanner ">
                <h1>Lập Trình Web</h1>

                <div class="button">
                    <a href="/web-co-ban">
                        Cơ Bản
                        <span class="shift">›</span>
                    </a>
                    <div class="mask"></div>
                </div>

                <div class="button">
                    <a href="/web-nang-cao">
                        Nâng Cao
                        <span class="shift">›</span>
                    </a>
                    <div class="mask"></div>
                </div>
            </div>
        </div>

    </div>

    <div id="intro" class="courseIntro">
        <h2 class="pt-3">NINJA DEV VÀ SỨ MỆNH</h2>
        <div class="container">

            <div class="oneRow courseIntro1">
                <div class="left courseIntroText">
                    <div>
                        <p class="title">1. Ninja Dev thắp lên ngọn lửa đam mê</p>
                        <p>Lập trình không hề khó, khó là ở đam mê. Trở thành developer thực thụ đầy bản lĩnh thì đam mê luôn
                            là điểm xuất phát đúng đắn. Ninja Dev luôn khơi dậy ngọn lửa nhiệt huyết, đam mê tới học viên.
                            </p>
                    </div>
                </div>
                <div class="right courseIntroImage"></div>
            </div>

            <div class="oneRow courseIntro2">
                <div class="left courseIntroImage"></div>
                <div class="right courseIntroText">
                    <div>
                        <p class="title">2. Dẫn dắt những bước chân</p>
                        <p>Những bước đi chập chững ban đầu là khó nhất. Học đúng căn bản, chuẩn chỉnh là bước đệm quan trọng
                            để mỗi developer có thể bay cao, vươn xa tới thế giới công nghệ. Ninja Dev hiểu và đó là điều
                            chúng tôi làm tốt nhất. Với đội ngũ giảng viên kinh nghiệm, đam mê giảng dạy, các bạn sẽ luôn
                            được hỗ trợ tốt nhất trên con đường chinh phục công nghệ.</p>
                    </div>
                </div>

            </div>




            <div class="oneRow courseIntro3">
                <div class="left courseIntroText">
                    <div>
                        <p class="title">3. Hỗ trợ học phí, "Bảo Hành" khóa học</p>
                        <p>Không phải ai cũng có điều kiện để theo đuổi đam mê lập trình. Đó cũng chính là lý do Ninja Dev ra
                            đời. Sứ mệnh của chúng tôi là mong muốn có thể đem kiến thức tới mọi người khắp mọi nẻo đường
                            đất nước, từ ghế nhà trường cấp 3 đến những bạn đã ra trường nhưng vẫn chưa tìm thấy được công
                            việc ưa thích. Ninja Dev luôn cam kết học phí rẻ nhất và bảo hành khóa học trọn đời, bạn có thể
                            học lại bất cứ khi nào muốn.</p>
                    </div>
                </div>
                <div class="right courseIntroImage"></div>
            </div>

        </div>
    </div>

    <div class="coursesAndTeachers">
        <div id="courses" class="courses">
            <h2>CÁC KHÓA HỌC</h2>
            <div class="container">
                <div class="row mb-3 mt-3">

                    <div class="course course1 col-sm-6 col-12">
                        <div class="card ">
                            <a href="/web-co-ban" class="image">
                                <img class="card-img-top courseImg" ng-src="./images/course1.png" alt="Lập trình website cơ bản">
                                <div class="layerNinja"></div>
                            </a>
                            <h5 class="card-title">Cơ Bản</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Dành cho những bạn chưa biết gì về lập trình, bắt đầu từ con số 0. Khóa học cơ bản sẽ giúp bạn có cái nhìn tổng quan về lộ
                                    trình thiết kế website. Sau khóa học có tự làm được một trang website bắt mắt.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="course course3 col-sm-6 col-12">
                        <div class="card ">
                            <a href="/web-nang-cao" class="image">
                                <img class="card-img-top courseImg" ng-src="./images/course3.png" alt="Lập trình website nâng cao">
                                <div class="layerNinja"></div>
                            </a>
                            <h5 class="card-title">Nâng Cao</h5>
                            <div class="card-body">
                                <p class="card-text">
                                    Hướng dẫn làm 1 website ứng dụng thực tế, học hỏi về thiết kế Database, tiếp cận những framework mạnh mẽ. Sau khóa học, học
                                    viên có thể tự tin đủ khả năng xin vào các doanh nghiệp trên thị trường.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
        <div id="teachers" class="teachers">
            <div class="container">
                <h3 class="mt-3">
                    <i>Đội ngũ giảng viên</i>
                </h3>
                <div class="teacherImages">
                    <div class="teacher">
                        <img ng-src="./images/nguyendinhnam.jpg" alt="ninjadev's teacher Full Stack Website Developer">
                        <hr>
                        <p class="teacherName">Nguyễn Đình Nam</p>
                        <p class="teacherMajor">Full Stack Website Developer</p>
                        <p class="teacherInfo">Hơn 2 năm lập trình website với Nodejs. Lập trình giao diện website responsive cho Desktop và Mobile
                            với Boostrap, Materialize, AngularJs. Từng làm việc ở 3 công ty lớn FPT Software, NTQ Solution
                            và EZ Solution.
                        </p>
                    </div>

                    <div class="teacher">
                        <img ng-src="./images/hohongson.jpg" alt="ninjadev's teacher Full Stack Website Developer">
                        <hr>
                        <p class="teacherName">Hồ Hồng Sơn</p>
                        <p class="teacherMajor">Full Stack Website Developer</p>
                        <p class="teacherInfo">Hơn 2 năm lập trình website với Nodejs. Lập trình giao diện website responsive cho Desktop và Mobile
                            với Boostrap, Materialize, AngularJs, React ...
                        </p>
                    </div>
                    <div class="teacher">
                        <img ng-src="./images/nguyendoankhue.jpg" alt="ninjadev's teacher Full Stack Website Developer">
                        <hr>
                        <p class="teacherName">Nguyễn Đoàn Khuê</p>
                        <p class="teacherMajor">Website Developer</p>
                        <p class="teacherInfo">Java Developer có kinh nhiệm hơn 2 năm lập trình với Java. Lập trình backend website với framework
                            Spring MVC, Spring boot, NodeJs. Luôn đam mê giải quyết các vấn đề khó gặp phải trong doanh nghiệp.
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>

    <div class="register  ">
        <div class="container">
            <div class="registerBox">
                <div class="mainBox">
                    <div id="customerForm" class="registerLeftBox">
                        <h3>Nhận Tư Vấn Miễn Phí</h3>
                        <form name="courseRegister" id="customerForm">
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <abbr title="Bắt buộc" style="color: red">*</abbr> Họ Tên: </label>
                                <input ng-model="name" type="text" class="form-control" aria-describedby="fullName" name="name" placeholder="Họ Tên" required>
                                <small ng-if="!courseRegister.name.$valid" class="form-text text-muted" style="color: red !important">Bạn vẫn chưa điền họ tên</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">
                                    <abbr title="Bắt buộc" style="color: red">*</abbr> Phone: </label>
                                <input ng-model="phone" type="text" class="form-control" name="phone" aria-describedby="phoneNumber" placeholder="Số Điện Thoại"
                                    required>
                                <small id="emailHelp" class="form-text text-muted">Hỗ trợ viên có thể liên lạc thông báo lịch học cho bạn qua số phone này.</small>
                                <small ng-if="!courseRegister.phone.$valid" class="form-text text-muted" style="color: red !important">Bạn vẫn chưa điền số điện thoại</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email: </label>
                                <input ng-model="email" type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Nhập Email">
                                <small ng-if="!courseRegister.email.$valid" id="emailHelp" class="form-text text-muted" style="color: red !important">Email chưa chính xác.</small>
                            </div>
                            <input type="text" name="" style="display: none;" ng-model="idCourse" ng-init="idCourse = 0">
                            <button ng-disabled="processingRegister" ng-click="customerRegister()" type="submit" class="btn btn-primary">Nhận Đăng Ký</button>
                        </form>
                    </div>
                    <div class="registerRightBox">
                        <img ng-src="./images/poster1.png" style="width: 100%; height: 100%">
                    </div>
                </div>
            </div>
        </div>

    </div>