<style type="text/css">
.banner{
background-image: url('../images/bgRegis.jpg') !important;
}
.header{
background: #f1f1f1!important;
}
.contentBanner h1{
color: white;
}
.course{
background: #F3F3F3;
}
.registerBtn{
position: absolute;
bottom: 100px;
font-size: 35px;
width: 100% !important;
margin-left: 10px !important;
}
.contentCourse{
margin-left: 10px !important;
}
.detail-time{
list-style: none;
text-align: left;
}
.titleCourse{
text-transform: uppercase;
text-shadow: 2px 2px 4px #60849D;
}
.title{
color: #60849D;
font-size: 18px;
font-weight: 600;
}
ul li{
position: relative;
padding-left: 15px;
list-style: none;
}
ul li::before{
content: "\f105";
font-family: FontAwesome;
color: #b2b2b2;
position: absolute;
left: 0;
top: 0px;
}
.pd-5{
padding: 50px 0;
}
hr{
border-style: dotted;
font-size: 20px;
}
.course b{
font-weight: 600;
color: #60849D;
}
.course table thead{
background: #60849D;
color: white;
}
@media screen and (min-width: 350px) {
.registerBtn {
width: 250px !important;
}
.titleCourse{
font-size: 28px;
}
}

/*form*/
#registerForm form{
    padding: 35px 20%;
    background: white;
}


#registerForm .modal-header{
    background: #60849D;
    color: white;
}
#registerForm .close{
    color: white;
}
#registerForm .modal-title{
    text-transform: uppercase;
}
#registerForm .modal-body{
    padding: 0px;
    background: #eae6ea;
}
.introCourse{
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px dashed #60849D;
    padding: 15px;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Open Sans';
    color: #674f49;
}
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<%- contentFor('bodyContent') %>
<div class="banner">
    <div class="container">
        <button type="button" class=" btn btn-primary registerBtn" data-toggle="modal" data-target="#registerForm">Đăng Ký</button>
    </div>
</div>
<div class="course" style="padding-bottom: 100px;"  >
    <div class="container">
        <div class="contentCourse ">
            <h1 class="titleCourse pd-5">LẬP TRÌNH WEB CƠ BẢN</h1>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#web-co-ban" aria-expanded="false" aria-controls="web-co-ban">
            <i class="fa fa-calendar" aria-hidden="true"></i> 10/10/2018 - 20/11/2018
            </button>
            <div class="collapse" id="web-co-ban">
                <div class="card card-body">
                    <table>
                        <thead>
                            <tr style="text-align: center;">
                                <th>Lịch học</th>
                                <th class="text-center">Thời gian học</th>
                                <th class="text-center">Hạn cuối đăng ký</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr style="text-align: center;">
                                <td class="vertical-align">
                                    <ul class="detail-time">
                                        <li>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            Thứ hai
                                            19:00 - 21:00
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            Thứ tư
                                            19:00 - 21:00
                                        </li>
                                        <li>
                                            <i class="fa fa-clock-o" aria-hidden="true"></i>
                                            Thứ sáu
                                            19:00 - 21:00
                                        </li>
                                    </ul>
                                </td>
                                <td class="vertical-align">10/10/2018 - 20/11/2018</td>
                                <td class="vertical-align">
                                    10/10/2018
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p class="address">
                <i class="fa fa-map-marker title mt-3" aria-hidden="true" style="font-size: 20px; padding-right: 15px;"></i>
                Số 9, Trung Liệt, Hà Nội
            </p>
            <h4 class="title">Học phí : 850.000 VNĐ</h4>
            <hr>
            <h4 class="title">Tại sao nên học web cơ bản ở Ninja Dev ?</h4>
            <ul>
                <li>Mang lại cái nhìn tổng quát hơn về lập trình web.</li>
                <li>Kiến thức cơ bản sẽ áp dụng ở mọi lúc mọi nơi trong công việc về sau.</li>
                <li>Với kinh nghiệm chuyên môn thực tế và sự tận tâm, đội ngũ giảng viên sẽ dẫn bạn từ số 0 đến thành thạo kỹ năng web căn bản.</li>
                <li>Ninja Dev là nhà, ở đây mọi người có thể thoải mái chia sẻ những câu chuyện ước mơ, cùng nhau biến nó thành hiện thực.</li>
                <li><b>"Bảo hành trọn đời"</b>, được học lại miễn phí khi bạn chưa thành thạo về kiến thức web căn bản.</li>
                <li><b>"Học phí phù hợp với học sinh, sinh viên"</b>, Ninja Dev luôn hỗ trợ học phí rẻ nhất để các bạn có thể dễ dàng bắt đầu với đam mê lập trình.</li>
            </ul>
            <hr>
            <h4 class="title">Sau khóa học bạn học được những gì?</h4>
            <ul>
                <li>Nắm rõ được kiến thức về HTML, CSS, JAVASCRIPT xây dựng 1 trang web cho riêng mình.</li>
                <li>Được rèn luyện kĩ năng xử lý vấn đề khi gặp phải.</li>
                <li>Kỹ năng làm việc nhóm hiệu quả. </li>
                <li>Được học qua các project thực tế, cơ hội có việc làm ngay là rất lớn.</li>
            </ul>
            <hr>
            <h4 class="title">Chương trình học ( 15 Buổi ) </h4>
            <ul>
                <li>Xây dựng nội dung với HTML ( Buổi 1 )</li>
                <li>Xây dựng bố cục layout CSS ( Buổi 2 - 3 )</li>
                <li>Sử dụng BOOSTRAP xây dựng web site responsive (Buổi 3)</li>
                <li>Thực hành cắt giao diện trang web từ PSD ( Buổi 4 )</li>
                <li>Nắm chắc JAVASCRIPT từ cơ bản đến nâng cao ( Buổi 5 – 13 )</li>
                <li>Sử dụng các thư viện Javascript có sẵn như Lodash, Jquery ( Buổi  14 - 15 )</li>
            </ul>
            <hr>
            <h4 class="title" >Ai có thể tham gia</h4>
            <ul>
                <li>Dành cho những bạn chưa biết gì về lập trình, bắt đầu từ con số 0.</li>
                <li>Học sinh, sinh viên đam mê với lập trình.</li>
                <li>Quyết tâm theo đuổi đến cùng, thích thú sáng tạo ra sản phẩm trang web của riêng mình.</li>
                <li>Các bạn muốn tìm công việc lập trình web, làm việc online ngay còn trên ghế nhà trường.</li>
            </ul>
            
        </div>
    </div>
</div>

<!-- modal -->
<div class="container">
    <!-- The Modal -->
    <div class="modal fade" id="registerForm">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Đăng Ký Khóa Học</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="introCourse">
                        Lập Trình Web Cơ Bản
                    </div>
                    <form name="courseRegister" id="customerForm">
                        <div class="form-group">
                            <label for="exampleInputEmail1"><abbr title="Bắt buộc" style="color: red">*</abbr> Họ Tên: </label>
                            <input ng-model="name" type="text" class="form-control" aria-describedby="fullName" name="name" placeholder="Họ Tên" required>
                            <small ng-if="!courseRegister.name.$valid" class="form-text text-muted" style="color: red !important">Bạn vẫn chưa điền họ tên</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1"><abbr title="Bắt buộc" style="color: red">*</abbr> Phone: </label>
                            <input ng-model="phone" type="text" class="form-control" name="phone" aria-describedby="phoneNumber" placeholder="Số Điện Thoại" required>
                            <small id="emailHelp" class="form-text text-muted">Hỗ trợ viên có thể liên lạc thông báo lịch học cho bạn qua số phone này.</small>
                            <small ng-if="!courseRegister.phone.$valid" class="form-text text-muted" style="color: red !important">Bạn vẫn chưa điền số điện thoại</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email: </label>
                            <input ng-model="email" type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Nhập Email">
                            <small ng-if="!courseRegister.email.$valid" id="emailHelp" class="form-text text-muted" style="color: red !important">Email chưa chính xác.</small>
                        </div>
                        <input type="text" name="" style="display: none;" ng-model="idCourse" ng-init="idCourse = 1">
                    </form>
                </div>
                
                <!-- Modal footer -->
                <div class="modal-footer" style="text-align: center; display: table">
                    <button ng-disabled="processingRegister" type="submit" ng-click="customerRegister()" class="btn btn-secondary" >Đăng Ký</button>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- end modal -->
<script type="text/javascript">
$( ".nav-item .nav-link" ).each(function (key, value) {
if (key != 0) {
value.href = "../" + value.href.substring(value.href.indexOf('#'));
}
});
</script>